*{
    margin: 0;
    padding: 0;
    background:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#21d4fd, #b721ff);
    border-radius: 100px;
  }
.container1{
    display: flex;
    background-color: rgb(68, 65, 65);
    width: 100%;
    justify-items: right;
    height: 70px;
    text-decoration:none;
    position: sticky
    
}
.container1 h1{
text-align: left;
margin: 4px;
padding: 6px;
color: whitesmoke;
background-color: rgb(68, 65, 65);
}
.container1 input{
    text-align: left;
    margin: 4px;
    margin-top: 9px;
    margin-right: 0%;
    padding: 6px;
    color: black;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 0;
    text-decoration: none;
    
}

    .container1 img{
        text-align: left;
        margin: 9px;
        margin-left: 0px;
        color: whitesmoke;
        height: 45px;
        width: 40px;
        border: none;
        border-radius: 0;
        text-decoration: none;
        
        }
        .container1 img:hover{
            cursor: pointer;

        }
nav {
    margin-left: 500px;
    margin-top: 24px;
    background-color: transparent;
}        
.container1 a {
    background: transparent;
    color: aliceblue;
    display: flexbox;
        text-align: left;
        margin-left: 40px;
        padding: 6px;
        height: 45px;
        width: 200px;
        border: none;
        border-radius: 8px;
        text-decoration: none;
    justify-content: right;
    } 
nav ul{
    justify-items: end;
}
.container1 button{
    margin: 10px;
    margin-left: 25px;
    margin-top: 15px;
    width: 70px;
    border-radius: 8px;
    border: none;
    color:black;
    background: blue;
    height: 35px;
}
.container1 button:hover{
    cursor: pointer;}
.container2{
    position: relative;
    
}
.profilelogo{
    text-align: center;
    border: none;
    border-radius: 60%;
    width: 170px;
    height: 130px;
    position: absolute;
    left: 175px;
    top: 245px;
    background-color:rgb(117, 112, 112) ;
}
.profilelogo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    margin-top: 25pt;
    color: white;
    font-size:70px;
    margin-bottom: 30px;
}
.details{
    margin: 80px;
    margin-top: 110px;
    margin-left: 330px;
    margin-right: 200px;
    height:fit-content;
}
.details img{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-right: 6px;
    border-radius: 7px;
    top: 30px;
}
.details button{
    margin-bottom: 90px;
  width: 80px;
  height: 20px;
  margin-left: 570px;
  border: 2px solid #21d4fd;
  color: #21d4fd;
  border-radius: 6px;
}
#Resume{
    margin-top: 90px;
}
label.label input[type="file"] {
    position: absolute;
    top: -1000px;
  }
  .label {
    cursor: pointer;
    color: #0a40a5;
    align-items: center;
    height: 30px;
    width: 600px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 9px;
    margin-left: 0;
    background: transparent;
    display: inline-block;
  }
  .label span{
    margin-left: 190px;
    margin-top: 30px;
  }
  .label:active {
    background: #9fa1a0;
  }
  .label:invalid + span {
    color: #000000;
  }
  .label:valid + span {
    color: #ffffff;
  }
